*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background:url(images/bg4.jpg);
    background-image: cover;
    padding: 10px;
    background-position: top 100%;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px ;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    background: transparent;
}

button{
    background: orangered;
    color: white;
    border: none;
    padding: 16px 50px;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}

/* button:hover{
    background-color: green;
    transform: all 0.3 ease;
} */


ul li {
    list-style: none;
    /* display: flex; */
    /* margin-left: 30px; */
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    top: 5px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}
